@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

* {
  box-sizing: border-box;
}

/* GLOBAL STYLES */

body,
.App {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-size: 16px;
  background: url(https://www.toptal.com/designers/subtlepatterns/patterns/lightpaperfibers.png);
}

button {
  background: none;
  border: 0;
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  color: #08c;
}
button:hover {
  color: #04c;
}

.App {
  display: flex;
}


/* NAVBAR STYLES */

.navbar {
  height: 50px;
  background-color: rgb(99,178,242);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: inherit;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  margin-left: 3%;
}

.list {
  display: flex;
  align-items: center;
  list-style: none;
  margin-right: 3%;
}

.listItem {
  margin-right: 20px;
  font-weight: 500;
  cursor: pointer;
}

.username {
  margin-right: 20px;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.link{
  color: inherit;
  text-decoration: none;
}

/* LOGIN PAGE STYLES */

.login{
  height: calc(100vh - 50px);
  display: flex;
  align-items: center;
  justify-content: center;
}


.wrapper {
  width: 60%;
  height: 75%;
  box-shadow: 10px 5px 20px -10px rgba(66,66,66,1);
  display: flex;
  align-items: center;
  border-radius: 20px;
}

.loginTitle {
  top: 130px;
  position: absolute;
  color: lightgray;
}

.left-side,.right-side{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.centerText {
  border: 2px solid lightgray;
  padding: 10px;
  border-radius: 50%;
  color: grey;
  background-color: white;
  font-weight: bold;
}

.line {
  width: 0.5px;
  height: 70%;
  background-color: lightgray;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: -1;
}

/* Left Side Styles */

.loginButton {
  width: 150px;
  padding: 15px 25px;
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  font-weight: bold;
  margin-bottom: 20px;
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.google {
  background-color: black;
}

.github {
  background-color: black;
}

/* Right Side Styles */

input {
  width: 200px;
  padding: 15px 20px;
  margin-bottom: 20px;
  display: block;
}

.submit {
  width: 200px;
  background-color: black;
  color: white;
  font-weight: bold;
  border: none;
  padding: 15px 20px;
  border-radius: 5px;
}


/* HOME PAGE STYLES */

/* SIDEBAR STYLES */

.app-sidebar {
  width: 30%;
  height: 100vh;
  border-right: 1px solid #ddd;
  font-family: inherit;
}

.app-sidebar-header {
  display: flex;
  justify-content: space-between;
  padding: 25px;
  background-color: white;
  border-bottom: 1px solid #CFD8DC;
}
.app-sidebar-header h1 {
  margin: 0;
}
.app-sidebar-notes {
  height: calc(100vh - 78px);
  overflow-y: scroll;
}
.app-sidebar-note {
  padding: 25px;
  cursor: pointer;
}
.sidebar-note-title {
  display: flex;
  justify-content: space-between;
}
.app-sidebar-note button {
  color: grey;
}
.app-sidebar-note button:hover {
  color: crimson;
}
.app-sidebar-note p {
  margin: 10px 0;
}
.app-sidebar-note small {
  display: block;
  color: #999;
}

.app-sidebar-note:hover {
  background: #ddd;
}
.app-sidebar-note.active,
.app-sidebar-note.active small {
  background: #08c;
  color: white;
}

.app_sidebar_notebook--buttons {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  color: black;
  /* border-bottom: solid 0.5px lightgrey; */
  /* border-top: solid 0.5px lightgrey; */
  border-bottom: 1px solid #CFD8DC;
}

.bye_notebook {
  color: crimson;
}
.add_button {
  margin-left: 75%;
}

.inactive .add_button {
  display: none;
}

/* NOTE EDITOR/PREVIEW (MAIN) STYLES */

.app-main {
  width: 70%;
  height: 100vh;
}
.app-main-note-edit,
.app-main-note-preview {
  height: 50vh;
}

.no-active-note {
  width: 70%;
  height: 100vh;
  line-height: 100vh;
  text-align: center;
  font-size: 2rem;
  color: #999;
}

/* Editing */
.app-main-note-edit {
  padding: 25px;
}

.app-main-note-edit input,
textarea {
  display: block;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  width: 100%;
  height: calc(50vh - 130px);
  padding: 10px;
  resize: none;
  font-size: inherit;
  font-family: inherit;
}
.app-main-note-edit input {
  height: 50px;
  font-size: 2rem;
}

/* Preview */
.app-main-note-preview {
  border-top: 1px solid #ddd;
  overflow-y: scroll;
  background: rgba(0, 0, 0, 0.02);
}

.preview-title {
  padding: 25px 25px 0 25px;
  margin: 0;
}

.markdown-preview {
  padding: 0 25px 25px 25px;
  font-size: 1rem;
  line-height: 2rem;
}

/* NEW NAVBAR STYLES */

.item input:checked ~ ul {
    display: block;
}

.item input ~ ul {
  display: none;
}

/*Arrow*/

.arrow {
    width: 12px;
    height: 12px;
    vertical-align: middle;
    float: left;
    z-index: 0;
    margin: 17px 1em 0 2em;
}

.inactive .arrow {
    transform: rotate(-90deg);
    transition: 0.3s;
}
.active .arrow {
    transform: rotate(0deg);
    transition: 0.3s;
}

.app-sidebar-notebook.inactive > ul {
  display: none
}



/*Styles*/

label:hover {
    cursor: pointer;
}
label {
    width: 100%;
    display: block;
    z-index: 3;
    position: relative;
}
.nav {
    width: 100%;
    background-color: white;
    overflow-x: hidden;
    height: calc(100% - 123px);
    overflow: scroll;
    /* border-bottom: 1px solid #CFD8DC; */
}

#nav-icon {
    font-size: 28px;
    line-height: 50px;
    padding-left: 1em;
    color: white;
    background-color: grey;
}

.nav ul, .nav li, label {
    line-height: 50px;
    margin: 0;
    padding: 0 2em;
    list-style: none;
    text-decoration: none;
    color: #90A4AE;
    font-weight: 100;
    width: 100%;
}
.item ul {
    padding: 0 0.25em;
}
.nav li a {
    line-height: 50px;
    margin: 0;
    padding: 0 4em;
    list-style: none;
    text-decoration: none;
    color: #90A4AE;
    font-weight: 100;
}




/* Max style for book title and update */
#notebook-title{
  /* border: none; */
  text-align: left;
  color: gray;
  /* font-weight: bold; */
}

#content{
  border-radius: 5px;
  box-shadow: 5px 2px 10px -5px rgba(66,66,66,1);
}
#title{
  border-radius: 5px;
  box-shadow: 5px 2px 10px -5px rgba(66,66,66,1);
}